*{
    margin-top: 0px;
    padding: 0px;

}
#wrapper{
    margin-top: 0px;
    height: auto;
}
#first{
    position: absolute;
    height: 160px;
    width: 1350px;
    background-color: #28004d;
    text-align: center;
    color: white;
}

#menu{
  height: 60px;
  background-color: black;
  width: 100%;

}

#menu4
{
height:50px;
border:1px solid black;
width:1200px;
background-color:black;

}
#menu4 ul
{
list-style-type:none;
}
#menu4 ul li
{
display:inline;
padding:10px;
margin-left:18px;
}
#menu4 ul li a
{
color:white;
text-decoration:none;
font-weight:bold;
}
#menu4 ul li a:hover
{
color:yellow;
border-top:1px solid yellow;
border-bottom:1px solid yellow;
}




.dropbtn {
  
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:black;}






    #slider{
        margin-top: -20px;
        margin-top: 0px;
        height: 410px;
        width: 100%;
        //background-color: blue;
    }
    .container{
        margin-top: -17px;
        height: 400px;
        margin-left: 100px;
        margin-right: 100px;
        width: 100%;
        //background-color: pink;
    }
    img{
         width:100%;
         height:100%;
    }
    .col-md-3{
        display: inline-block;
        margin-left:-4px;
    }
    .carousel-indicators .active {
         background-color:  white;
    }
    .col-md-3 img{
         width:1200px;
         height:400px;
    }
    body .carousel-indicator li{
        background-color: black;
    }
    body .carousel-indicators{
        bottom: 0;
    }
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon{
        background-color: black;
    }
    body .no-padding{
        padding-left: 0;
        padding-right: 0;
    }

    #div1
    {
        margin-top:203px;
        width:1350px;
        height:400px;
        position: absolute;

    }
#footer{
  height: 66px;
  width: 1350px;
  background-color: #28004d;
  position: absolute;
  margin-top: 0px;
  font-family: Times new roman;
  color: #ffffff;
  padding: 20px;

}